<div class='content-perfil'>
    <img class='img-perfil'
        src='https://scontent.feyp2-1.fna.fbcdn.net/v/t1.6435-9/212796073_2962788900610419_7163004677526732900_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=FT6iJoP9d3AAX8NQD7C&_nc_ht=scontent.feyp2-1.fna&oh=00_AfClMgjTh0pLSznMnsAuJ9b85CF8d9NRtMiHkQIyjlaLTQ&oe=6447D18B' 
        alt='foto de Andres'/>
    <div class='container-description'>
        <p class='name'>Jaime Andrés Barón Puin</p>
        <p class='description'> Estudiante de ingenieria de Sistemas y computacion, de la Universidad Pedagogica y Tecnologia de Colombia.</p>
    </div>
</div>
